<h2 class="center">Naruto items</h2>


 <div class="container" >
  <div class="row justify-content-center" style="text-align: center;">
	<!-- <div *ngIf="Item.Category = 2"> -->
        <div *ngFor="let Item of Items" class="col-md-5 col-sm-5">
	  	<figure class="card card-product-grid">
		  	<div  class="img-wrap"> <img src="{{Item.picture}}" height="600"/> </div>
		  	<figcaption>
		  		<a href="#" class="title">{{Item.title}}</a>
		  		<div class="price mt-2">${{Item.price}}</div> 
	  		</figcaption>
	  	</figure> 
  	    </div>
    </div>  
</div>  






